body{
    margin: 0;
    font-family: "Baloo Tamma 2", arial, sans-serif;
    background: linear-gradient(90deg, black, rgb(26, 25, 9))
}

.navigation{
    background: #2c2c2c;
    border-top: 3px solid #916601;
    padding: 15px 40px !important;

}

.brand-logo{
    height: 28px;
    width: auto;

}

.navigation-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 505;
    color:hsl(42, 100%, 70%) !important;

}

.navigation-link:hover{
    color: #ffb300 !important;
}